.banner {
  background-image: linear-gradient(to bottom, rgba(103, 216, 255, 1), rgba(103, 216, 255, .5)), url("../../images/image-example.jpg");
  background-size: cover;
}

.banner-content {
  text-align: center;
  transition: 300ms all linear;
}
