.btn {
  background-color: var(--color-accent);
  border-color: var(--color-primary);

  color: #fff;
}

.btn-light {
  background-color: var(--color-accent-light);
  border-color: var(--color-primary);

  color: #fff;
}

.btn-ghost {
  background-color: transparent;
  border-color: var(--colour-primary);

  color: var(--color-accent);
}
